Package: missioncommand-be
Version: [[version]]
Section: contrib/games
Priority: optional
Architecture: all
Maintainer: Benedict Adamson <badamson@spamcop.net>
Description: back-end of the MC game server
Distribution: stable
Depends: java17-runtime-headless
Recommends: openjdk-17-jre17-headless
Suggests: missioncommand-db